<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwyISoOlwGq9tiYcWfLxGPO_6ynRYJxX4</string>
	<key>GCM_SENDER_ID</key>
	<string>123305667681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kazuki.EverMatch</string>
	<key>PROJECT_ID</key>
	<string>evermatch-94239</string>
	<key>STORAGE_BUCKET</key>
	<string>evermatch-94239.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123305667681:ios:edc1dd885699e659e44e20</string>
</dict>
</plist>